.navbar {
  align-items: center;
  transform: translateY(0px);
  display: flex;
  width: 100%;
  left: 0;
  right: 0;
  z-index: 20;
  min-height: 48px !important;

  background: rgba(255, 255, 255, 0.85);
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .navbar {
    min-height: 64px;
    padding: 0 0;
  }
}
@media screen and (max-width: 767px) {
  .mobile-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
  }
}
